jia-adf-prd-centralus/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "jia-adf-prd-centralus"
		},
		"AzureDatabricksdev_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksdev'"
		},
		"AzureDatabricksdev_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0926-135447-xjeabvnd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/datapipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "data_extraction",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/Deployment/ml_data/extration.py",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksdev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "version the data",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "data_extraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/Deployment/ml_data/extration.py",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksdev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksdev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7142012601771918.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksdev_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksdev_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		}
	]
}